#section-div-homepage::before {
  content: " ";
  display: block;
  border-left: 60vh solid transparent;
  border-right: 60vh solid transparent;
  border-top: 40vh solid #fcba03;
  border-bottom: 40vh solid #f2cf05;
}

#section-div-homepage::after {
  content: " ";
  display: block;
  border-top: 20vh solid #f7f1a6;
  border-left: 120vh solid transparent;
}

#section-div-homepage {
  background-color: #fefefe;
  color: black;
  min-height: 100vh;
}

#hmpg-info {
  display: flex;
  align-items: center;
}

#hmpg-info > div:first-child {
  margin-right: 20px;
}

#hmpg-profile {
  max-height: 50vh;
}

#hmpg-name {
  font-size: xx-large;
  margin-bottom: 10px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(35, end);
}

#hmpg-position {
  font-size: x-large;
  animation: fadeIn ease 15s;
}

.menu-text {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
}

.menu-bubble {
  position: absolute;
  line-height: 30px;
  width: 100px;
  background: #fff;
  border-radius: 40px;
  border: 2px solid;
  padding: 24px;
  text-align: center;
  color: #000;
  top: 2%;
  transform: translate(-2%);
  cursor: pointer;
}

.menu-bubble::before,
.menu-bubble::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.menu-bubble::before {
  left: 32px;
  bottom: -30px;
  border: 15px solid;
  border-color: #000 #000 transparent transparent;
}

.menu-bubble::after {
  left: 30px;
  bottom: -25px;
  border: 15px solid;
  border-color: #fff #fff transparent transparent;
}

.menu {
  position: absolute;
  top: -25%;
  width: 100%;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-anchor-div {
  color: #000;
  text-decoration: none;
  padding: 15px;
  border-bottom: 3px solid #000;
  background: #fff;
}

.menu-anchor {
  text-decoration: none;
}

.menu-anchor-div:hover,
#menu-close:hover {
  color: #fefefe;
  font-weight: 800;
  background-color: #000;
  transform: skewX(-30deg);
  animation: animateMenuHover 1.8s infinite;
}

#menu-close {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border-bottom: 3px solid;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes animateMenuHover {
  0% {
    background-color: rgb(199, 78, 78);
  }
  25% {
    background-color: rgb(75, 68, 10);
  }
  50% {
    background-color: rgb(17, 88, 67);
  }
  75% {
    background-color: rgb(41, 92, 187);
  }
  100% {
    background-color: rgb(121, 51, 179);
  }
}
