#section-homepage {
    background-color: #fefefe;
    color: black;
}

#hmpg-info {
    display: flex;
    align-items: center;
}

#hmpg-info > div:first-child {
    margin-right: 20px;
}

#hmpg-profile {
    max-height: 50vh;
}

#hmpg-name {
    font-size: xx-large;
    margin-bottom: 10px;
}

#hmpg-position {
    font-size: x-large;
}