.App {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
  padding: 8vw 8vw 0 8vw;
}

section {
  margin-bottom: 10%;
  min-height: 30vh;
}

.greeting {
  font-family: "Krona One", sans-serif;
  font-size: calc(100% + 5vw);
}

.greeting:before,
.greeting:after,
.cur-position:before,
.cur-position:after,
.adposition:before,
.adposition:after,
.title:before,
.title:after,
.aboutmeDesc:before,
.aboutmeDesc:after,
.skillDesc:before,
.skillDesc:after {
  font-size: 40%;
  font-family: "Homemade Apple", cursive;
  color: #a85d6b;
  display: block;
}

.cur-position:before,
.cur-position:after,
.adposition:before,
.adposition:after,
.title:before,
.title:after {
  display: inline-block;
}

.greeting:before {
  content: "<h1>";
}

.greeting:after {
  content: "</h1>";
}

.cur-position {
  font-family: "Krona One", sans-serif;
  font-size: calc(100% + 3vw);
}

.cur-position:before {
  content: "<p>";
  margin-right: 15px;
}

.cur-position:after {
  content: "</p>";
  margin-left: 15px;
}

.adposition {
  display: flex;
  flex-direction: row;
  font-family: "Quantico", sans-serif;
  font-size: 120%;
  color: #888;
  margin-top: 15px;
}

.adposition > div:nth-child(odd)::after {
  content: "|";
  display: inline-block;
  margin: 0px 10px;
}

.adposition:after {
  content: "</span>";
  margin-left: 10px;
  font-size: 70%;
}

.adposition:before {
  content: "<span>";
  margin-right: 10px;
  font-size: 70%;
}

.homelinkedin-div {
  margin-top: 40px;
}

.homelinkedin {
  font-family: "Teko", sans-serif;
  padding: 5px 35px;
  font-size: 25px;
}

.btnShape {
  color: #000;
  text-decoration: none;
  background: #fff;
  border: none;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.5), 1px 1px 0 0 #444,
    2px 2px 0 0 #444, 3px 3px 0 0 #444, 4px 4px 0 0 #444, 5px 5px 0 0 #444,
    6px 6px 0 0 #444, 7px 7px 0 0 #444, 8px 8px 0 0 #444, 9px 9px 0 0 #444,
    10px 10px 0 0 #444, 11px 11px 0 0 #444, 12px 12px 0 0 #444;
}

.btnShape:hover {
  color: #444;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.5), 1px 1px 0 0 #d98e20,
    2px 2px 0 0 #d98e20, 3px 3px 0 0 #d98e20, 4px 4px 0 0 #d98e20,
    5px 5px 0 0 #d98e20;
}

#aboutmeDiv {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25%;
}

.title {
  font-family: "Krona One", sans-serif;
  font-size: calc(100% + 2vw);
}

.title:before {
  content: "<h5>";
  margin-right: 10px;
}

.title:after {
  content: "</h5>";
  margin-left: 10px;
}

.desc {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #bbb;
  text-align: justify;
}

.desc > div {
  margin-top: 25px;
}

.aboutmeDesc:before {
  content: "<pre>";
  font-size: 100%;
  position:absolute; 
  right: 48%;
}

.aboutmeDesc:after {
  content: "<pre>";
  font-size: 100%;
  position:absolute; 
  right: 5%;
}

.aboutmeAnimation {
  min-width: 55%;
  max-width: 60%;
}

.skillChart {
  width: 400px;
}

.skill-content{
  max-width: 50%;
}

#skillDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25%;
}

.skillDesc > div:first-child {
  margin-top: 10px;
}

.skillDesc:before {
  content: "<pre>";
  font-size: 100%;
  margin-top: 10px;
}

.skillDesc:after {
  content: "<pre>";
  font-size: 100%;
  position: absolute;
  left: 48%;
}