.App {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
  padding: 8vw 8vw 0 8vw;
}

section{
  margin-bottom: 10%;
}

.greeting {
  font-family: "Krona One", sans-serif;
  font-size: calc(100% + 5vw);
}

.greeting:before, .greeting:after,
.cur-position:before, .cur-position:after,
.adposition:before, .adposition:after {
  font-size: 40%;
  font-family: "Homemade Apple", cursive;
  color: #a85d6b;
  display: block;
}

.cur-position:before, .cur-position:after,
.adposition:before, .adposition:after {
  display: inline-block;
}

.greeting:before {
  content: "<h1>";
}

.greeting:after {
  content: "</h1>";
}

.cur-position {
  font-family: "Krona One", sans-serif;
  font-size: calc(100% + 3vw);
}

.cur-position:before {
  content: "<p>";
  margin-right: 15px;
}

.cur-position:after {
  content: "</p>";
  margin-left: 15px;
}

.adposition {
  display: flex;
  flex-direction: row;
  font-family: 'Quantico', sans-serif;
  font-size: 120%;
  color: #888;
}

.adposition > div:nth-child(odd)::after {
  content: "|";
  display: inline-block;
  margin: 0px 10px;
}

.adposition:after {
  content: "</span>";
  margin-left: 10px;
  font-size: 70%;
}

.adposition:before {
  content: "<span>";
  margin-right: 10px;
  font-size: 70%;
}